
<div data-ng-controller="Shell as shell" ng-cloak="" layout="column" layout-fill="">

    <div include-replace="" data-ng-include="'app/layout/topnav.html'"></div>

    <div flex="" layout="row">
        <base-side-bar ng-if="shell.checkState(['user','agent'])" toggled="{{shell.sideToggled}}" reset-toggle-state="shell.resetToggleState()"></base-side-bar>
        <md-content flex="" layout-margin="">
            <div data-ui-view="app" class="shuffle-animation"></div>
        </md-content>
        <!-- <div animated ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="content/images/busy.gif"/>
        
            <div class="page-spinner-message overlay-message" ng-bind="shell.busyMessage"></div>
        </div> -->
        
    </div>
</div>
